body {
  color: white;
}
body, #input {
  background: black;
  font-size: 150%;
  font-family: monospace;
  line-height: 120%;
}
#output {
  min-height: 92%;
  white-space: pre;
  max-width: 100%;
  word-break:break-all;
}
#input {
  font-size: 100%;
  border: none;
  color: lime;
}
#input:focus {
  outline: none;
}
.error {
  color: red;
}