body {
  color: white;
  background: #ffffff;
  font-size: 150%;
  font-family: monospace;
  line-height: 120%;
}

#terminal {
  height: 50%;
  padding: 20px;
  background-color: black;
}

#output {
  /*background: black;*/
  min-height: 92%;
  white-space: pre;
}

#input {
  font-size: 90%; 
  height: 8%;
  background: black;
  border: none;
  color: lime;
}

#input:focus {
  outline: none;
}

.error {
  color: red;
}